---
import avatar from "../../public/avatar.jpeg";
import design from "../../public/design.png";
import code from "../../public/code.png";
import consulting from "../../public/consulting.png";

import plahutica from "../../public/plahutica.png";
import crwn_clothing from "../../public/crwn-clothing.svg";
import recipe_o_mat from "../../public/recipe-o-mat.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jakov Knezevic Portfolio</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
